{% extends 'base.html.twig' %}

{% block title %}Éditer médicament{% endblock %}

{% block body %}
<div class="container">
    <h1>Éditer le médicament</h1>
    {% include 'pharmacie/medicament/_form.html.twig' with {'form': form} %}
    <a href="{{ path('app_medicament_index') }}" class="btn btn-link mt-3">Retour</a>
</div>
{% endblock %}
